/* font-family: 'Signika', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Signika', sans-serif;
}

header{
    height: ;
    flex-basis: 200px;
    background-color: rgb(16, 16, 17);
}

main{
    flex-grow: 1;
    /* width: calc(100vw - 400px);
    height: calc(100vh - 50px) ; */
    background-color: rgb(65, 65, 85);
    /* flex-direction: column; */
}

footer{
    height: 50px;
    background-color: rgb(52, 52, 56);
    font-size: large;
}
.container{
    height: calc(100vh - 50px);
    display: flex;
}

/* aside block */
.aside{
    padding: 15px 0px 10px 15px;
}

.logo-container{
    width: 70%;
    padding: 0px 0px 10px 0px;
}

.aside{
    color: rgb(179, 182, 182);
}

/* menu block */
.menu{
    margin-bottom: 15px;
}

.menu>div{
    padding: 5px 0px 5px 0px ;
}

.menu>div>i{
    font-size: 20px;
}

.menu>div>span{
    height: 25px;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
}

/* playlist block */
.playlist h2{
    color: whitesmoke;
}

.add-playlist{
    border: none;
    background-color: rgba(11, 1, 1, 0);
    color: rgb(179, 182, 182);;
}

.add-playlist>i{
    font-size: 40px;
}

.add-playlist>span{
    vertical-align: 10px;
    font-family: 'Signika', sans-serif;
    
}

/* classi tools */

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.left,
.right{
    float: left;
}

/* fine tools */

