/* font-family: 'Signika', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Signika', sans-serif;
}

header{
    /* height: ; */
    flex-basis: 250px;
    min-width: 170px;
    background-color: rgb(16, 16, 17);
}

main{
    overflow: hidden;
    flex-grow: 1;
    /* width: calc(100vw - 250px); */
    /* height: calc(100vh - 60px) ; */
    background-color: rgb(65, 65, 85);
    /* flex-direction: column; */
    color:rgb(179, 182, 182)
}

footer{
    height: 50px;
    background-color: rgb(52, 52, 56);
    font-size: large;
    display: flex;
}

.gallery-titol{
    color: whitesmoke;
    margin: 10px 0px ;
}
.container{
    height: calc(100vh - 50px);
    display: flex;
}

/* aside block */
.aside{
    padding: 15px 0px 10px 15px;
    color: rgb(179, 182, 182);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.logo-container{
    width: 70%;
    padding: 0px 0px 10px 0px;
    flex-grow: 0;
}


/* menu block */
.menu{
    margin-bottom: 15px;
    flex-grow: 0;
}

.menu>div{
    padding: 5px 0px 5px 0px ;
}

.menu>div>i{
    font-size: 20px;
}

.menu>div>span{
    height: 25px;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
}

/* playlist block */
.playlist{
    flex-grow: 6;
}
.playlist h2{
    color: whitesmoke;
    font-size: revert;
    margin-bottom: 15px;
}

.add-playlist{
    border: none;
    background-color: rgba(11, 1, 1, 0);
    color: rgb(179, 182, 182);
    margin-bottom: 15px;
}

.add-playlist>i{
    font-size: 40px;
}

.add-playlist>span{
    font-size: large;
    vertical-align: 10px;
    font-family: 'Signika', sans-serif;    
}

.playlist-panel>div{
    padding: 0px 0 15px 0;
}

.break-line{
    height: 1px;
    width: 90%;
    margin: 10px 0px 10px 0px; 
    background-color:rgb(179, 182, 182) ;
}

.aside-footer{
    flex-grow: 0;
}

.account-logo img{
    background-color:rgb(179, 182, 182);   
    width: 30px;
    height: 30px;
}

.account-name{
    padding-left: 8px;
    width: 60%;
    vertical-align: baseline;
    height: 30px;
    line-height: 30px;
}

/* main section  */
#upgrade-banner{
    height: 60px;
    width: 100%;
    text-align: right;
    line-height: 60px;
    background-color:rgba(16, 16, 17, 0.3);
    /* position: fixed; */
    /* z-index: 10;     */
} 

#upgrade-banner button{
    background-color:transparent;
	border-radius:21px;
	border:1px solid rgb(179, 182, 182);
	display:inline-block;
	cursor:pointer;
	color: whitesmoke;
	font-family: 'Signika', sans-serif; 
	font-size:15px;
	font-weight: 500;
	padding:8px 36px;
	text-decoration:none;
}

main>nav>ul{
    list-style-type:none;  
    text-align: center;
    color:rgb(179, 182, 182);
    font-size: 0.8em;
}
main>nav>ul>li{
    display: inline-block;
    padding: 10px;
}


.container-content{
    margin: 0 20px 40px;
}

.recently-played{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  
}

.item{
    flex-basis: calc((100% - 50px) / 6);
    margin-right: 10px;
}

.item:nth-child(6n){
    margin-right: 0;
}

.item img{
    width: 100%;
}

.description{
    text-align: center;
}

.album-playlist-name{
    color: whitesmoke;
    font-weight: 600;
    font-size: 0.9em;
}

.artist-name{
    font-size: 0.7em;
    padding-top: 5px;
}

.container-content p{
    font-size: 0.8em;
    margin-bottom: 20px;
}

/* player-bar */
.played-song{
    height: 100%;
    min-width: 150px;
    margin: 10px 0 0 10px;
}
.played-song img{
 width: 30px;
 height: 30px;
}

.played-song-info{
    font-size: 0.5em;
    margin: 5px 15px 0 10px;
}

.played-song-artist{
    color: rgb(214, 218, 218) ;
}

.played-song-name{
    color: rgb(136, 136, 136);
}

.played-song-icon i{
    display: block;
    font-size: 0.9em;
    color: rgb(136, 136, 136)
}

.mediaplayer-button{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    color: rgb(214, 218, 218);
}

.mediaplayer-button i{
    padding: 0 15px 0 15px;
    font-size: 1.2em;
}

.mediaplayer-button .little-icon{
    font-size: 0.7em;
    line-height: 24px;
}

.timeline-bar{
    width: 500px;
    height: 3px;
    margin: 5px 20px 0 20px;
    border-radius: 40px;
    min-width: 200px;
    background-color: rgb(117, 117, 117) ;
}

.time-played,
.time-song{
    display: inline;
    color: rgb(214, 218, 218) ;
    font-size: 0.6em;
}
/* classi tools */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.left,
.right{
    float: left;
}
.circle{
border-radius: 50%;
}
/* fine tools */

